@{
    Layout = null;
}
@model List<EmployeeDashboardMaterials>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Suppliers </title>
    <link rel="icon" type="images/png" href="images/green asia logo.png" />

    <link rel="stylesheet" href="~/css/project2.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
					<a class="logo" asp-area="" asp-controller="Employee" asp-action="employeeDashboard">
                        <img src="../../Images/greenAsiaLogo.png" alt="logo">
                        <span class="nav-item">GACTC</span>
                    </a>
                </li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeDashboard">
                        <i class="fas fa-menorah"></i>
                        <span class="nav-item">Dashboard</span>
                    </a>
                </li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeProjectDash">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Projects</span>
                    </a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Templates">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Templates</span>
					</a>
				</li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeSupplierDash">
                        <i class="fas fa-briefcase"></i>
                        <span class="nav-item">Suppliers</span>
                    </a>
				</li>
				<li class="active">
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeMaterialsDash">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Materials</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeInfo">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Account</span>
					</a>
				</li>
                <li>
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="HomePage">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="main">
            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeAddMaterial">
                <div class="main-top">
                    <h1>Add Materials</h1>
                    <i class="fas fa-wrench"></i>
                </div>
            </a>

            <section class="attendance">
                <div class="attendance-list">
                    <h1>Materials List</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
								<th>Unit of Measurement</th>
								<th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
							@for (int x = 0; x < Model.Count; x++)
							{
								<tr>
									<td>@Model[x].ID</td>
									<td>@Model[x].Description</td>
									<td>@Model[x].Description_Long</td>
									<td>@Model[x].UnitOfMeasurement</td>
									<td>@Html.ActionLink("Edit", "employeeEditMaterial", "Employee", new { id = Model[x].ID } )</td>
								</tr>
							}
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>
</body>
</html>
