@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
@model Employee_MCE
<head>
	<script>
		.field-validation-valid {
			display: none;
		}

		.validation-summary-valid {
			display: none;
		}
	</script>
	<style>
		.a-button {
			padding: 10px 20px 10px 20px;
			border: solid;
			border-color: black
		}

		input[type="text"] {
			padding: 10px 20px 10px 20px;
			border: solid;
			border-width: 1px;
			border-color: black
		}

		.scroll {
			width: 100%;
			height: 40%;
			overflow: auto;
			white-space: nowrap;
		}
	</style>

	<meta charset="UTF-8" />
	<title> Templates </title>
	<link rel="icon" type="images/png" img src="../../Images/greenAsiaLogo.png" alt="logo" />

	<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
	<div class="container">
		<nav>
			<ul>
				<li>
					<a class="logo" asp-area="" asp-controller="Employee" asp-action="employeeDashboard">
						<img src="../../Images/greenAsiaLogo.png" alt="logo">
						<span class="nav-item">GACTC</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeDashboard">
						<i class="fas fa-menorah"></i>
						<span class="nav-item">Dashboard</span>
					</a>
				</li>
				<li class="active">
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeProjectDash">
						<i class="fas fa-chart-bar"></i>
						<span class="nav-item">Projects</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Templates">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Templates</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeSupplierDash">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Suppliers</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeMaterialsDash">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Materials</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Employee" asp-action="employeeInfo">
						<i class="fas fa-briefcase"></i>
						<span class="nav-item">Account</span>
					</a>
				</li>
				<li>
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="HomePage">
						<i class="fas fa-sign-out-alt"></i>
						<span class="nav-item">Log out</span>
					</a>
				</li>
			</ul>
		</nav>
		@using (Html.BeginForm("DownloadMCE", "Employee", FormMethod.Post))
		{
			<section class="main">
				<section class="attendance">
					<div class="attendance-list">
						<table style="width:100%">
							<tr>
								<td>
									<div style="width:50%">
										<h4>Project Title</h4>
										<p style="text-indent:20pt;">@Model.Title</p>
									</div>
								</td>
								<td>
									<div style="width:50%">
										<h4>Client Name</h4>
										<p style="text-indent:20pt;">@Model.ClientName</p>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										<h4>Project Date</h4>
										<p style="text-indent:20pt;">@Model.Date.ToString("dd-MMMM-yyyy")</p>
									</div>
								</td>
								<td>
									<div>
										<h4>Client Contact</h4>
										<p style="text-indent:20pt;">@Model.ClientContact</p>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										<h4>Project Address</h4>
										<p style="text-indent:20pt;"><span>@Model.Address</span>, <span>@Model.City</span>, <span>@Model.Region</span>, <span>@Model.Country</span></p>
									</div>
								</td>
								<td>
									<div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										<h4>Building type</h4>
										<p style="text-indent:20pt;">@Model.BuildingType</p>
									</div>
								</td>
								<td>
									<div>
										<h4>Building number of storeys</h4>
										<p style="text-indent:20pt;">@Model.NumberOfStoreys</p>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										<h4>Building dimensions</h4>
										<p style="text-indent:20pt;">@Model.BuildingLength Metres by @Model.BuildingWidth Metres</p>
									</div>
								</td>
								<td>
									<div>
										<h4>Building floor height</h4>
										<p style="text-indent:20pt;">@Model.FloorHeight</p>
									</div>
								</td>
							</tr>
						</table>
		
			
						@Html.HiddenFor(m=>m.totalIndirectCost)
						@Html.HiddenFor(m=>m.OCM)
						@Html.HiddenFor(m=>m.profit)
						@Html.HiddenFor(m=>m.subtotalCost)
						@Html.HiddenFor(m=>m.tax)
						@Html.HiddenFor(m=>m.totalCost)
						@Html.HiddenFor(m=>m.FormulaID)
						@Html.HiddenFor(m=>m.ProjectID)
						@Html.HiddenFor(m=>m.Provisions)
						@Html.HiddenFor(m=>m.BOMCreationDate)
						@Html.HiddenFor(m=>m.ProjectID)
						@Html.HiddenFor(m=>m.Title)
						@Html.HiddenFor(m=>m.ClientName)
						@Html.HiddenFor(m=>m.ClientContact)
						@Html.HiddenFor(m=>m.Date)
						@Html.HiddenFor(m=>m.Address)
						@Html.HiddenFor(m=>m.City)
						@Html.HiddenFor(m=>m.Region)
						@Html.HiddenFor(m=>m.BuildingType)
						@Html.HiddenFor(m=>m.Country)
						@Html.HiddenFor(m=>m.Longtitude)
						@Html.HiddenFor(m=>m.Latitude)
						@Html.HiddenFor(m=>m.NumberOfStoreys)
						@Html.HiddenFor(m=>m.FloorHeight)
						@Html.HiddenFor(m=>m.BuildingLength)
						@Html.HiddenFor(m=>m.BuildingWidth)
						@Html.HiddenFor(m=>m.TemplateID)
						@Html.HiddenFor(m=>m.BOMID)
						@Html.HiddenFor(m=>m.Markup)

						<div style="display: none">
							@Html.DisplayFor(m=>m.materials)

							@for (int i = 0; i < Model.materials.Count; i++)
							{
								@Html.HiddenFor(m=>m.materials[i])
								@Html.HiddenFor(m=>m.materials[i].SubitemNumber)
								@Html.HiddenFor(m=>m.materials[i].MaterialID)
								@Html.HiddenFor(m=>m.materials[i].MaterialDesc)
								@Html.HiddenFor(m=>m.materials[i].MaterialQuantity)
								@Html.HiddenFor(m=>m.materials[i].MaterialQuantityWastage)
								@Html.HiddenFor(m=>m.materials[i].MaterialQuantityProvisions)
								@Html.HiddenFor(m=>m.materials[i].MaterialUoM)
								@Html.HiddenFor(m=>m.materials[i].MaterialCost)
								@Html.HiddenFor(m=>m.materials[i].SupplierMaterialID)
								@Html.HiddenFor(m=>m.materials[i].Supplier)
								@Html.HiddenFor(m=>m.materials[i].TotalUnitRate)
								@Html.HiddenFor(m=>m.materials[i].MaterialAmount)
								@Html.HiddenFor(m=>m.materials[i].MarkedUpCost)
								@Html.HiddenFor(m=>m.materials[i].LabourCost)
							}
						</div>
						<h4>Markup (%)</h4>
						<div>
							<div>
								<p>%@Model.Markup</p>
							</div>
						</div>
		
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th colspan="4">Proposed Materials</th>
									<th colspan="4">Cost Estimate</th>
								</tr>
								<tr>
									<th>Item No.</th>
									<th>Material Name</th>
									<th>Quantity</th>
									<th>UoM</th>
									<th>Cost per unit</th>
									<th>Marked Up Cost</th>
									<th>Labour cost</th>
									<th>Total unit rate</th>
									<th>Total Amount</th>
								</tr>
							</thead>
							<tbody>
								@for (int x = 0; x < Model.materials.Count; x++)
								{
									<tr>
										<td>@Model.materials[x].SubitemNumber</td>
										<td>@Model.materials[x].MaterialDesc</td>
										<td>@Model.materials[x].MaterialQuantityProvisions</td>
										<td>@Model.materials[x].MaterialUoM</td>
										<td>@string.Format("{0:N2}", @Model.materials[x].MaterialCost)</td>
										<td>@string.Format("{0:N2}", @Math.Ceiling(Model.materials[x].MarkedUpCost))</td>
										<td>@string.Format("{0:N2}", @Math.Ceiling(Model.materials[x].LabourCost))</td>
										<td>@string.Format("{0:N2}", @Math.Ceiling(Model.materials[x].TotalUnitRate))</td>
										<td>@string.Format("{0:N2}", @Math.Ceiling(Model.materials[x].MaterialAmount))</td>
									</tr>
								}
								<tr style="background: #BBBBBB;font-weight:bold">
									<td colspan="7" style="text-align:right">Total Cost of Items:</td>
									<td colspan ="2">P @string.Format("{0:N2}", @Model.totalIndirectCost)</td>
								</tr>
								<tr style="background: #BBBBBB">
									<td colspan="7" style="text-align:right">Profit:</td>
									<td colspan="2">@string.Format("{0:N2}", @Model.profit)</td>
								</tr>
								<tr style="background: #BBBBBB;font-weight:bold">
									<td colspan="7" style="text-align:right">Sub-Total:</td>
									<td colspan ="2">P @string.Format("{0:N2}", @Model.subtotalCost)</td>
								</tr>
								<tr style="background: #BBBBBB">
									<td colspan="7" style="text-align:right">VAT(5%):</td>
									<td colspan ="2">@string.Format("{0:N2}", @Model.tax)</td>
								</tr>
								<tr style="background: #BBBBBB;font-weight:bold">
									<td colspan="7" style="text-align:right">Total Estimated Cost:</td>
									<td colspan="2">P @string.Format("{0:N2}", @Model.totalCost)</td>
								</tr>
							</tbody>
						</table>

						<button type="submit">Download PDF</button>
					</div>
				</section>
			</section>
		}
	</div>
</body>